body {
    main {
        .block-services {
            @include breakpoint(phone) {
                margin-bottom: 1550px;
            }
            hr {
                @include breakpoint(phone) {
                    display: none;
                }
            }
            color: #FFFFFF;
            h2 {
                text-align: center;
                margin: 0;
                margin-top: 160px;
                color: #05283C;
                font-weight: 500;
                @include breakpoint(phone) {
                    padding-left: 8%;
                    padding-right: 8%;
                    margin-top: 90px;
                }
            }
            .items {
                margin-right: 0;
                margin-left: 0;
                height: 250px;
                margin-top: 130px;
                margin-bottom: 90px;
                @include breakpoint(phone) {
                    margin-bottom: 266px;
                    padding-right: 6%;
                    padding-left: 6%;
                }
                .ult {
                    @include breakpoint(phone) {
                        margin-top: 830px;
                    }
                }
                .ult-2 {
                    @include breakpoint(phone) {
                        margin-top: 36px !important;
                        padding-bottom: 2% !important;
                    }
                }
                .item-1 {
                    @include breakpoint(phone) {
                        text-align: center;
                    }
                    img {
                        background-color: #78D1DF;
                        border-radius: 184px;
                        width: 264px;
                        box-shadow: 5px 5px 18px -4px rgba(0, 0, 0, 0.75);
                        @include breakpoint(tablet) {
                            margin-left: 10%;
                        }
                        @include breakpoint(desktop) {
                            margin-left: 36%;
                        }
                    }
                }
                .item-2 {
                    border-radius: 140px 0px 0px 140px;
                    background-color: #78D1DF;
                    text-align: center;
                    @include breakpoint(phone) {
                        border-radius: 69px 69px 0px 0px;
                        margin-top: 35px;
                        padding-bottom: 1%;
                    }
                    p {
                        font-weight: bold;
                        font-size: 40px;
                        margin-top: 29px;
                    }
                    button {
                        background-color: transparent;
                        color: #FFFFFF;
                        border: solid 1px #FFFFFF;
                        width: 50%;
                        border-radius: 28px;
                        cursor: pointer;
                        transition: 1s;
                        font-size: 20px;
                        @include breakpoint(phone) {
                            font-size: 29px;
                            width: 90%;
                            height: 61px;
                        }
                    }
                    button:hover {
                        background-color: #FFFFFF;
                        color: #000000;
                        border: solid 1px #000000;
                    }
                }
                .item-3 {
                    background: linear-gradient(to right, #78D1DF 0%, #78B5DC 100%);
                    @include breakpoint(phone) {
                        background: linear-gradient(to right, #78D1DF 0%, #78D1DF 100%);
                        border-radius: 0px 0px 69px 69px;
                        padding-bottom: 28px;
                    }
                    ul {
                        margin-top: 23px;
                        font-size: 20px;
                        @include breakpoint(phone) {
                            font-size: 22px;
                        }
                        li {
                            margin-bottom: 12px;
                        }
                    }
                }
                ////////////////////////////
                ///////////////////////////
                .item-4 {
                    background-color: #78D1DF;
                    text-align: center;
                    @include breakpoint(phone) {
                        margin-top: 736px;
                        border-radius: 69px 69px 0px 0px;
                    }
                    p {
                        font-weight: bold;
                        font-size: 40px;
                        margin-top: 29px;
                    }
                    button {
                        background-color: transparent;
                        color: #FFFFFF;
                        border: solid 1px #FFFFFF;
                        width: 50%;
                        border-radius: 28px;
                        cursor: pointer;
                        transition: 1s;
                        font-size: 20px;
                        @include breakpoint(phone) {
                            font-size: 29px;
                            width: 90%;
                            height: 61px;
                        }
                    }
                    button:hover {
                        background-color: #FFFFFF;
                        color: #000000;
                        border: solid 1px #000000;
                    }
                }
                .item-5 {
                    border-radius: 0px 140px 140px 0px;
                    background-color: #78D1DF;
                    ul {
                        margin-top: 29px;
                        font-size: 20px;
                        @include breakpoint(phone) {
                            font-size: 22px;
                        }
                        li {
                            margin-bottom: 12px;
                        }
                    }
                    @include breakpoint(phone) {
                        border-radius: 0px 0px 69px 69px;
                        padding-bottom: 36px;
                    }
                }
                .item-6 {
                    @include breakpoint(phone) {
                        text-align: center;
                    }
                    img {
                        background: linear-gradient(to right, #78D1DF 0%, #78B5DC 100%);
                        border-radius: 184px;
                        width: 264px;
                        margin-left: 3%;
                        box-shadow: 5px 5px 18px -4px rgba(0, 0, 0, 0.75);
                        @include breakpoint(phone) {
                            margin-top: -1463px;
                        }
                    }
                }
            }
        }
    }
}