body {
    main {
        .block-services {
            hr {
                @include breakpoint(phone) {
                    display: none;
                }
            }
            color: #FFFFFF;
            h2 {
                text-align: center;
                margin: 0;
                margin-top: 160px;
                color: #05283C;
                font-weight: 500;
                @include breakpoint(phone) {
                    padding-left: 8%;
                    padding-right: 8%;
                    margin-top: 90px;
                }
            }
            .items {
                margin-right: 0;
                margin-left: 0;
                height: 220px;
                margin-top: 130px;
                margin-bottom: 90px;
                @include breakpoint(phone) {
                    margin-bottom: 200px;
                }
                .ult {
                    @include breakpoint(phone) {
                        margin-top: 728px;
                    }
                }
                .item-1 {
                    @include breakpoint(phone) {
                        text-align: center;
                    }
                    img {
                        background-color: #78D1DF;
                        border-radius: 184px;
                        width: 228px;
                        @include breakpoint(tablet) {
                            margin-left: 22%;
                        }
                        @include breakpoint(desktop) {
                            margin-left: 42%;
                        }
                    }
                }
                .item-2 {
                    border-radius: 115px 0px 0px 115px;
                    background-color: #78D1DF;
                    text-align: center;
                    @include breakpoint(phone) {
                        border-radius: 69px 69px 0px 0px;
                        margin-top: 35px;
                    }
                    p {
                        font-weight: bold;
                        font-size: 40px;
                        margin-top: 29px;
                    }
                    button {
                        background-color: transparent;
                        color: #FFFFFF;
                        border: solid 1px #FFFFFF;
                        width: 42%;
                        border-radius: 28px;
                        cursor: pointer;
                        transition: 1s;
                    }
                    button:hover {
                        background-color: #FFFFFF;
                        color: #000000;
                        border: solid 1px #000000;
                    }
                }
                .item-3 {
                    background: linear-gradient(to right, #78D1DF 0%, #78B5DC 100%);
                    @include breakpoint(phone) {
                        background: linear-gradient(to right, #78D1DF 0%, #78D1DF 100%);
                        border-radius: 0px 0px 69px 69px;
                        padding-bottom: 28px;
                    }
                    ul {
                        margin-top: 29px;
                        @include breakpoint(phone) {
                            margin-left: 26%;
                        }
                        li {
                            margin-bottom: 12px;
                        }
                    }
                }
                ////////////////////////////
                ///////////////////////////
                .item-4 {
                    background-color: #78D1DF;
                    text-align: center;
                    @include breakpoint(phone) {
                        margin-top: 628px;
                        border-radius: 69px 69px 0px 0px;
                    }
                    p {
                        font-weight: bold;
                        font-size: 40px;
                        margin-top: 29px;
                    }
                    button {
                        background-color: transparent;
                        color: #FFFFFF;
                        border: solid 1px #FFFFFF;
                        width: 42%;
                        border-radius: 28px;
                        cursor: pointer;
                        transition: 1s;
                    }
                    button:hover {
                        background-color: #FFFFFF;
                        color: #000000;
                        border: solid 1px #000000;
                    }
                }
                .item-5 {
                    border-radius: 0px 115px 115px 0px;
                    background-color: #78D1DF;
                    ul {
                        margin-top: 29px;
                        li {
                            margin-bottom: 12px;
                        }
                    }
                    @include breakpoint(phone) {
                        border-radius: 0px 0px 69px 69px;
                        padding-bottom: 36px;
                    }
                }
                .item-6 {
                    @include breakpoint(phone) {
                        text-align: center;
                    }
                    img {
                        background: linear-gradient(to right, #78D1DF 0%, #78B5DC 100%);
                        border-radius: 184px;
                        width: 228px;
                        margin-left: 3%;
                        @include breakpoint(phone) {
                            margin-top: -1169px;
                        }
                    }
                }
            }
        }
    }
}